body {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100vh;
   margin: 0;
   background: black;
   font-family: 'Anton', sans-serif;
}

.main-container {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.grid-container {
   width: 450px;
   margin: auto 20px;
   border: 4px solid #0d3968;
   box-shadow: 0 0 5px 1px #0d3968;
   border-radius: 5px;
   display: flex;
   flex-wrap: wrap;
}

#grid {
   border: 3px solid #0d3968;
   box-shadow: inset 0 0 0.2em 0 #0d3968, 0 0 0.2em 0 #0d3968;
   height: 144px;
   width: 144px;
   color: #1c89ff;
   text-shadow:
      0 0 7px #1c89ff,
      0 0 10px #000000,
      0 0 21px #1c89ff,
      0 0 42px #1c89ff;
   font-size: 5rem;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid::before {
   filter: blur(1.5em);
   opacity: 0.7;
}

.score-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 2rem;
   margin: 0 20px;
   color: #212528;
}

.score-container>span {
   color: #0d3968;
   padding: 0px 20px;
   padding-bottom: 1px;
}

.score-container>span:first-child {
   color: #1c89ff;
   text-shadow:
      0 0 7px #1c89ff,
      0 0 10px #000000,
      0 0 21px #1c89ff,
      0 0 42px #1c89ff;
}

.score-container>span+span {
   padding-top: 0px;
   color: #ff00d0;
   text-shadow:
      0 0 7px #ff00d0,
      0 0 10px #000000,
      0 0 21px #ff00d0,
      0 0 82px #ff00d0;
}

button {
   /* border: 3px solid #0d3968; */
   border: none;
   background: #1c89ff;
   border-radius: 5px;
   width: 200px;
   margin: 20px 0;
   padding: 12px;
   cursor: pointer;
   color: #0d3968;
   opacity: 0.8;
   font-family: 'Anton', sans-serif;
}

button:hover {
   opacity: 1;
}

button::before {
   filter: blur(1.5em);
   opacity: 0.7;
}

button+button {
   margin-top: 0px;
}

.player-turn {
   font-size: 1rem;
   margin-bottom: 10px;
}

.winner-box {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 50px;
   background: black;
   color: #0d3968;
   box-shadow: 0 0 10px 10px #0d3968;
}

.winner-overlay {
   background: rgba(0, 0, 0, 0.667);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   display: none;
}

@media screen and (max-width:800px) {
   .main-container {
      flex-direction: column;
   }

   .grid-container {
      margin-top: 10px;
   }
}

@media screen and (max-width:400px) {
   .main-container {
      overflow-x: hidden;
   }

   .grid-container {
      width: 246px;
      margin-top: 30px;
   }

   #grid {
      height: 80px;
      width: 80px;
      font-size: 3rem;
   }

   .score-container {
      font-size: 1.8rem;
   }
}